In [2]:
import pandas as pd
pd.options.display.max_columns = 200
from sklearn.model_selection import train_test_split

## user-movie-ratings data

In [3]:
user_movie_rating_df = pd.read_csv('data/ml-100k/u.data', sep='\t', header=None)
user_movie_rating_df.drop([3], axis=1, inplace=True)
user_movie_rating_df.rename(columns={0:'user_id', 1:'movie_id', 2:'rating'}, inplace=True)
user_movie_rating_df.head(3)

   user_id  movie_id  rating
0      196       242       3
1      186       302       3
2       22       377       1

#### Write to csv

In [3]:
user_movie_rating_df.to_csv('data/user_movie_rating.csv', index=False)

### Read file

In [4]:
user_movie_rating_df = pd.read_csv('data/user_movie_rating.csv')
user_movie_rating_df.head(3)

   user_id  movie_id  rating
0      196       242       3
1      186       302       3
2       22       377       1

### Info

In [5]:
user_movie_rating_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   100000 non-null  int64
 1   movie_id  100000 non-null  int64
 2   rating    100000 non-null  int64
dtypes: int64(3)
memory usage: 2.3 MB

In [7]:
user_movie_rating_df.describe()

            user_id       movie_id         rating
count  100000.00000  100000.000000  100000.000000
mean      462.48475     425.530130       3.529860
std       266.61442     330.798356       1.125674
min         1.00000       1.000000       1.000000
25%       254.00000     175.000000       3.000000
50%       447.00000     322.000000       4.000000
75%       682.00000     631.000000       4.000000
max       943.00000    1682.000000       5.000000

### Duplicates

In [6]:
user_movie_rating_df[user_movie_rating_df.duplicated()]

Empty DataFrame
Columns: [user_id, movie_id, rating]
Index: []

### Most ratings

In [7]:
user_movie_rating_df.rating.value_counts() / len(user_movie_rating_df)

4    0.34174
3    0.27145
5    0.21201
2    0.11370
1    0.06110
Name: rating, dtype: float64

## Validation data preparation

#### Complete data

In [8]:
user_movie_rating_df.head(2)

   user_id  movie_id  rating
0      196       242       3
1      186       302       3

#### Split

In [9]:
train_user_movie_rating_df, val_user_movie_rating_df = train_test_split(user_movie_rating_df, 
                                                                        test_size=0.015, random_state=2)

#### Training user-movie-ratings data

In [10]:
print(train_user_movie_rating_df.shape)
train_user_movie_rating_df.head(3)

(98500, 3)

       user_id  movie_id  rating
4193       201       558       2
710         94      1220       3
99464      716        13       2

#### Validation user-movie-ratings data

In [29]:
print(val_user_movie_rating_df.shape)
val_user_movie_rating_df.head(2)

(1500, 3)

       user_id  movie_id  rating
6448       157       273       5
50680      405      1065       1

#### Write to csv

In [30]:
train_user_movie_rating_df.to_csv('data/train_user_movie_rating.csv', index=False)
val_user_movie_rating_df.to_csv('data/val_user_movie_rating.csv', index=False)

### Number of Users, Movies and ratings

In [12]:
n_users = user_movie_rating_df.user_id.unique().shape[0]
n_movies = user_movie_rating_df.movie_id.unique().shape[0]
n_ratings = len(user_movie_rating_df)

n_train_users = train_user_movie_rating_df.user_id.unique().shape[0]
n_train_movies = train_user_movie_rating_df.movie_id.unique().shape[0]
n_train_ratings = len(train_user_movie_rating_df)

n_val_users = val_user_movie_rating_df.user_id.unique().shape[0]
n_val_movies = val_user_movie_rating_df.movie_id.unique().shape[0]
n_val_ratings = len(val_user_movie_rating_df)

print(n_users, n_train_users, n_val_users)
print(n_movies, n_train_movies, n_val_movies)
print(n_ratings, n_train_ratings, n_val_ratings)

943 943 606
1682 1682 683
100000 98500 1500

## Rating table

In [13]:
rating_df = user_movie_rating_df.pivot(index = 'user_id', columns ='movie_id', values = 'rating').fillna(0)
rating_df.columns = rating_df.columns.map(str)
rating_df.reset_index(inplace=True)
rating_df.head(2)

movie_id,user_id,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,...,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1603,1604,1605,1606,1607,1608,1609,1610,1611,1612,1613,1614,1615,1616,1617,1618,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1630,1631,1632,1633,1634,1635,1636,1637,1638,1639,1640,1641,1642,1643,1644,1645,1646,1647,1648,1649,1650,1651,1652,1653,1654,1655,1656,1657,1658,1659,1660,1661,1662,1663,1664,1665,1666,1667,1668,1669,1670,1671,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
0,1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,2.0,5.0,5.0,5.0,5.0,5.0,3.0,4.0,5.0,4.0,1.0,4.0,4.0,3.0,4.0,3.0,2.0,4.0,1.0,3.0,3.0,5.0,4.0,2.0,1.0,2.0,2.0,3.0,4.0,3.0,2.0,5.0,4.0,5.0,5.0,4.0,4.0,5.0,3.0,5.0,4.0,4.0,3.0,3.0,5.0,4.0,5.0,4.0,5.0,5.0,4.0,3.0,2.0,5.0,4.0,4.0,3.0,4.0,3.0,3.0,3.0,4.0,3.0,1.0,4.0,4.0,4.0,1.0,4.0,4.0,5.0,5.0,3.0,4.0,3.0,5.0,5.0,4.0,5.0,4.0,5.0,3.0,5.0,2.0,4.0,5.0,3.0,4.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Training rating table

In [14]:
train_rating_df = train_user_movie_rating_df.pivot(index = 'user_id', columns ='movie_id', 
                                                         values = 'rating').fillna(0)
train_rating_df.columns = train_rating_df.columns.map(str)
train_rating_df.reset_index(inplace=True)
train_rating_df.head(2)

movie_id,user_id,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,...,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1603,1604,1605,1606,1607,1608,1609,1610,1611,1612,1613,1614,1615,1616,1617,1618,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1630,1631,1632,1633,1634,1635,1636,1637,1638,1639,1640,1641,1642,1643,1644,1645,1646,1647,1648,1649,1650,1651,1652,1653,1654,1655,1656,1657,1658,1659,1660,1661,1662,1663,1664,1665,1666,1667,1668,1669,1670,1671,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
0,1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,0.0,2.0,5.0,5.0,5.0,5.0,5.0,3.0,4.0,5.0,4.0,1.0,4.0,4.0,3.0,4.0,3.0,2.0,4.0,1.0,3.0,3.0,5.0,4.0,2.0,1.0,2.0,2.0,3.0,4.0,3.0,2.0,5.0,4.0,5.0,5.0,4.0,4.0,5.0,3.0,5.0,4.0,4.0,3.0,3.0,5.0,4.0,5.0,4.0,5.0,5.0,4.0,3.0,2.0,5.0,4.0,4.0,3.0,4.0,3.0,3.0,3.0,4.0,3.0,1.0,4.0,4.0,4.0,1.0,4.0,0.0,5.0,5.0,3.0,4.0,3.0,5.0,5.0,4.0,5.0,4.0,5.0,3.0,5.0,2.0,4.0,5.0,3.0,4.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Verify number of movies and users

In [15]:
print(n_train_movies, n_train_users)
print(len(train_rating_df.columns)-1, len(train_rating_df.index))

1682 943
1682 943

#### Verify validation's ratings (should be zero in train_rating_df)

In [16]:
val_user_movie_rating_df.head(3)

       user_id  movie_id  rating
6448       157       273       5
50680      405      1065       1
814        244       550       1

In [28]:
user_id = 157
movie_id = 273

print(rating_df[str(movie_id)].loc[rating_df.user_id == user_id])
print(train_rating_df[str(movie_id)].loc[rating_df.user_id == user_id])

156    5.0
Name: 273, dtype: float64
156    0.0
Name: 273, dtype: float64

#### Write to csv

In [18]:
rating_df.to_csv('data/rating.csv', index=False)
train_rating_df.to_csv('data/train_rating.csv', index=False)

#### Sparsity

In [19]:
round(1.0 - n_train_ratings / float(n_train_users * n_train_movies), 3)

0.938

## Movies

In [7]:
m_cols = ["movie_id", "movie_title", "release date","video release date",
              "IMDb URL","unknown", "Action", "Adventure", "Animation", 
              "Children's" ,"Comedy","Crime","Documentary", "Drama","Fantasy",
          "Film-Noir","Horror", "Musical", "Mystery", "Romance", "Sci-Fi","Thriller","War","Western"]

In [8]:
movies_df = pd.read_csv('data/ml-100k/u.item', sep='|', names=m_cols, encoding="iso-8859-1")
movies_df.drop(["release date","video release date","IMDb URL"], axis=1, inplace=True)
movies_df.head()

,movie_id,movie_title,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0

#### Write to csv

In [13]:
movies_df.to_csv('data/movies.csv', index=False)

#### Unknown genre

In [10]:
movies_df.unknown.unique()

array([0, 1])

In [11]:
movies_df.loc[movie_df.unknown == 1]

,movie_id,movie_title,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
266,267,unknown,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1372,1373,Good Morning (1971),1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [26]:
user_movie_rating_df.loc[user_movie_rating_df.movie_id == 1373]

      user_id  movie_id  rating
8567      181      1373       1

#### Popular genres

In [27]:
movies_df.drop(['movie_id', 'movie_title'], axis=1).sum(axis=0).sort_values(ascending=False)

Drama          725
Comedy         505
Thriller       251
Action         251
Romance        247
Adventure      135
Children's     122
Crime          109
Sci-Fi         101
Horror          92
War             71
Mystery         61
Musical         56
Documentary     50
Animation       42
Western         27
Film-Noir       24
Fantasy         22
unknown          2
dtype: int64